@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

#logoHeader{
    height: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
.btnDrop{
    position:absolute;
    background-color: transparent;
    color:white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 60px;

    font-size: 22px;
    top: 30px;
}

#btnPropos{
    left: 170px;
}

#btnInfos{
    left: 360px;
}


#btnBilleterie{
    background-color: #ffA06A;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    transition: 200ms;
    width: 240px;
    box-sizing: border-box;
    border: 0;
    font-size: 25px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    position: absolute;
    right: 40px;
    top:40px;
    cursor: pointer;
}
#header{
    position:absolute;
    height: 200px;
    width: 100%;
    background-color: transparent;
}
.btnDrop{
    transition: 200ms;
    display:block;
    width:270px;
    height:200px;
}
.btnDrop:hover{
    transition:200ms;
    top:0px;
}
.btnDrop .rotator {
    transition: 200ms;
    opacity: 1;
}
.btnDrop:hover .rotator {
    transition: 200ms;
    opacity: 0;
}

#header p{
    font-family: 'Roboto Condensed', sans-serif;
  font-weight:400;
    font-size:25px;
}


#header .dropContent a {
    font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
    font-size:20px;
	width:150px;
    display:block;
    margin: 0px;
    margin-left: 10px;
    padding-bottom:10px;
    border:0px;

    text-decoration: none;
    color:white;
    
}

.dropContent{
    display: block;
    opacity:0;
    position: absolute;
    width:150px;
    transition:500ms;
    margin-left:50px;

    
    
}
#header div:hover .dropContent {
    transition:500ms;
	display:block;
    opacity:1;
    border:0px;
    border-left: 2px;
    border-style: solid;  
}
#header .btnDrop p{
    margin-bottom:10px;
}