@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

#imgDisc{
    display:block;
    top:0px;
    width:100%;
    height:100vh;
    object-fit:cover;
    left:0px;
    top:0px;

}
#headerTremplin{
    position:relative;
    float:left;
    width:100%;
    height:100%;
}
#headerTremplin p{
    font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
    font-size:1.5vw;
    color:white;
    position :absolute;
    top:90%;
    left:50%;
    margin: auto;
    transform: translateX(-50%);
}
#headerTremplin span{
    
    font-size:2.5vw;
}
#tremplinWrapper{
    padding-top:2.5vw;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5vw;
  grid-auto-rows: minmax(auto, auto);
  width: 100%;
  
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#tremplinWrapper p{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
    font-size:1.25vw;
}
#tremplinWrapper p span{
    font-size: 2.5vw;
}
#tremplinText{
    margin:5vw;
}
#tremplinText p{
    font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
    font-size:1.25vw;
}

#tremplinButtonWrapper {
  text-align: center;
  margin: 3vw 0;
}

#tremplinButton { /* Avec un petit dégradé de blanc un peu kitsch mais balec c'est rigolo faut se faire kiffer dans la vie*/
  display: inline-block;
  background: linear-gradient(
    120deg, 
    #1b4332 0%, 
    #1b4332 40%, 
    #578363 50%, 
    #1b4332 60%, 
    #1b4332 100%
  );
  /* Wewe le bleu, mais non dcp
  background: linear-gradient(
    120deg, 
    #2758a3 0%, 
    #2758a3 40%, 
    #9ac4f3 50%, 
    #2758a3 60%, 
    #2758a3 100%
  ); */
  background-size: 200% auto;
  color: white; /* Couleur du texte dedans */
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
  padding: 1vw 3vw;
  border-radius: 30px;
  text-decoration: none;
  transition: background-position 0.4s ease;
  background-position: left center;
}

#tremplinButton:hover { /* Déplacement de l'animation, balayage en gros */
  background-position: right center;
}

@media all and (orientation: portrait){

  #headerTremplin p{
    font-size: 6vw;
  }
  #headerTremplin span{
    font-size:8vw;
  }
  #tremplinText p{
    font-size: 4vw;
  }
  #tremplinWrapper p{
    font-size:2.75vw;
  }
  #tremplinWrapper p span{
    font-size:6vw;
  }

  #tremplinButton {
    font-size: 5vw;
    padding: 3vw 6vw;
}
}